.back {
	font-size: 18pt;

	&__button {
		color: #000000;
		padding-top: 0.5%;
		display: inline-block;
		width: 200px;
		&:hover {
			color: #C46E00;
			text-decoration: none;
		}
	}

	&__image {
		display: inline-block;
		width: 60%;
	}
}